.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; // S'assure que la page couvre toute la hauteur de l'écran
    background-color: #f4f4f4; // Couleur de fond douce
    text-align: center;
    padding: 20px;

    .error-code {
        font-size: 10rem; // Grande taille pour le "404"
        font-weight: bold;
        color: #ff4757; // Rouge doux pour attirer l'attention
        margin: 0;
    }

    .error-message {
        font-size: 1.5rem;
        color: #2f3542; // Couleur grise sombre
        margin-bottom: 20px;
    }

    .home-button {
        padding: 15px 30px;
        font-size: 1rem;
        color: #fff;
        background-color: #1e90ff; // Bleu lumineux pour le bouton
        border: none;
        border-radius: 25px; // Bord arrondi pour le bouton
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #3742fa; // Changement de couleur au survol
        }

        &:focus {
            outline: none;
        }

        a {
            color: inherit; // Le texte du lien prend la couleur du bouton
            text-decoration: none;
        }
    }
}