<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active"><img
        src="/assets/images/Logo.png" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/batiment']" routerLinkActive="router-link-active">Bâtiment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/services']" routerLinkActive="router-link-active">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/fabrication']" routerLinkActive="router-link-active">Fabrication</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/alimentation']" routerLinkActive="router-link-active">Alimentation</a>
        </li>
      </ul>
    </div>
    <app-search-bar></app-search-bar>
  </div>
</nav>