<section class="header p-5 container-fluid d-flex align-items-center justify-content-center flex-column">
  <h1 class="content">Trouve ton artisan !</h1>
  <small class="content">Avec la région: Auvergne-Rhône-Alpes</small>
</section>
<div class="container">
  <section class="steps">
    <h2>Comment trouver votre artisan ?</h2>
    <div class="step-container">
      <div class="step">
        <i class="bi bi-briefcase"></i>
        <h3>1. Choisissez la catégorie</h3>
        <p>Choisissez la catégorie d’artisanat dans le menu.</p>
      </div>
      <div class="step">
        <i class="bi bi-eye-fill"></i>
        <h3>2. Choisissez un artisan</h3>
        <p>Parcourez les artisans et sélectionnez celui qui correspond à vos besoins.</p>
      </div>
      <div class="step">
        <i class="bi bi-laptop"></i>
        <h3>3. Contactez l'artisan</h3>
        <p>Utilisez le formulaire de contact pour entrer en relation.</p>
      </div>
      <div class="step">
        <i class="bi bi-check"></i>
        <h3>4. Recevez une réponse</h3>
        <p>L’artisan vous répondra sous 48h.</p>
      </div>
    </div>
  </section>

  <div class="p-5 top">
    <h2 class="text-center">Les artisans les mieux notés</h2>
    <div class="row">
      <div *ngFor="let artisan of topRatedArtisans$ | async" class="col-md-4">
        <app-artisan-card [artisan]="artisan"></app-artisan-card>
      </div>
    </div>
    <app-comment-slider></app-comment-slider>
  </div>

</div>