form {
    background-color: #fff;
    border-bottom: 1px solid #0074C7;
    border-right: 1px solid #0074C7;

    input {
        border: none;
    }

    button {
        width: 50px;
        height: 40px;
        border: none;
        background-color: #fff;
        color: #0074C7;
    }
}